@use 'src/general';

.song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // background-color: red;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.artist-name{
    font-size: 1rem;
    @include general.header-font;
    color: general.$text-color;
}

.album-name{
    margin: 0.1rem;
    font-size: 0.75rem;
    @include general.header-font;
    color: general.$text-color;
}

.track-name{
    font-size: 1rem;
    @include general.header-font;
    color: general.$text-color;
}
