@use "@/general.scss";

.player-outer {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.stream-title {
  cursor: pointer;
  @include general.button-hover;
  width: 100%;
}

.player-inner {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.player-album-art {
  align-self: center;
  max-width: 95vw;
  max-height: 22rem;
  border-radius: 2.5%;
}

.player-volume-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: general.$controls-color;
  width: 90vw;
}

.player-volume-expand-button {
  color: general.$controls-color;
}

.player-stopped-message {
  color: general.$text-color;
  font-size: 2.5rem;
  font-weight: medium;
  @include general.header-font;
  padding: 0.5rem;
}
