@use "@/general.scss";

.player-outer {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.stream-title {
  cursor: pointer;
  width: 100%;
}

.player-inner {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.player-album-art {
  align-self: center;
  max-height: 22rem;
  border-radius: 2.5%;
  @media (general.$is-portrait) {
    max-width: 85vw;
  }
  @media (max-width: general.$small-mobile) {
    max-width: 50vw;
  }
}

// Solo vs Grouped media controls are different because solo volumes have titles, making them tall enough to need further adjustment
.grouped-media-controls {
  @media (general.$is-portrait) {
    position: fixed;
    z-index: 0;
    bottom: 130px
  }
}
.solo-media-controls {
  @media (general.$is-portrait) {
    position: fixed;
    z-index: 0;
    bottom: 150px;
  }
}

.player-volume-container {
  @media (general.$is-portrait) {
    position: fixed;
    bottom: calc(general.$navbar-height + 7px);
    z-index: 1;
  }
}

.solo-volume {
  @media (general.$is-portrait) {
    position: fixed;
    bottom: calc(general.$navbar-height + 7px);
    z-index: 1;
  }
}

.player-volume-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: general.$controls-color;
  width: 90vw;
}

.player-volume-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (general.$is-portrait) {
    max-height: calc(85vh - 120px);
  }
}

.scrollable{
  @media (general.$is-portrait) {
    overflow-y: auto;
  }
}

.expanded-volume-body {
  @media (general.$is-portrait) {
    height: 100vh;
  }
}

.player-volume-expand-button {
  color: general.$controls-color;
}

.player-stopped-message {
  color: general.$text-color;
  font-size: 2.5rem;
  font-weight: medium;
  @include general.header-font;
  padding: 0.5rem;
}
