adafruit-circuitpython-rgb-display
aiofiles
deepdiff
fastapi
netifaces
numpy
mypy
pillow
psutil
pydantic
pyserial
python-vlc
requests
rpi.gpio
smbus2
sse-starlette
fastapi_utils
uvicorn
python-multipart
pyyaml
types-requests
types-pkg_resources
types-pyyaml
wrapt
jinja2
