adafruit-circuitpython-rgb-display
aiofiles
deepdiff
fastapi
fastapi_utils
jinja2
loguru
mypy
netifaces
numpy
pillow
psutil
pydantic
pylint
pyserial
pytest
pytest-dependency
python-multipart
python-vlc
pyyaml
requests
rpi.gpio
smbus2
sse-starlette
types-pkg_resources
types-pyyaml
types-requests
uvicorn
wrapt
zeroconf
