adafruit-circuitpython-rgb-display
aiofiles
dasbus
deepdiff
fastapi
fastapi_utils
httpx
jinja2
loguru
mypy
netifaces
numpy
pillow
psutil
pydantic
pygobject
pylint
pyserial
pytest
pytest-dependency
python-multipart
python-vlc
pyyaml
requests
rpi.gpio
smbus2
spidev
sse-starlette
types-pkg_resources
types-pyyaml
types-requests
uvicorn
wrapt
zeroconf
