@use "src/general.scss";

.streams-body {
  @include general.header-font;
  color: general.$text-color;
  display: flex;
  flex-direction: column;
  height: 95%;
  overflow-y: auto;
}

.add-stream-button{
  margin: 1rem;
  position: fixed;
  right: 0;
  bottom: 0;
}
