@use "@/general.scss";

.volume-sliders-container {
  width: 85vw;
  color: general.$controls-color;
}

.add-padding {
  padding-bottom: 1rem;
}

.zone-vol-card {
  @media (max-width: general.$small-mobile){
    padding: 0.5rem;
  }
  @media (min-width: general.$small-mobile){
    padding: 0.75rem;
  }
  color: general.$controls-color;
}

.group-vol-card {
  @media (max-width: general.$small-mobile){
    padding: 0.5rem;
  }
  @media (min-width: general.$small-mobile){
    padding: 0.75rem;
  }
  color: general.$controls-color;
}

.vol-margin {
  margin-bottom: 1rem;
}
