@use "src/general.scss";

.preset-name {
  @include general.header-font;
  color: general.$text-color;
  font-size: 2rem;
  margin: 0.5rem;
  // padding: 0.5rem;
}

.preset-name-input-container{
  margin-left: 1rem;
}
