@use "src/general";

.streamer-output-text {
  color: general.$text-color;
  font-size: 1rem;
  font-weight: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
  @include general.header-font;
  cursor: pointer;
}

.streamer-output-container {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 6rem;
  max-width: fit-content;
}
