@use "src/general.scss";


.zones-zone-name {
  @include general.header-font;
  color: general.$text-color;
  font-size: 2rem;
  margin: 0.5rem;
}

.zones-zone-column {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.zones-zone-row {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
}

.zones-zone-expand-button {
  color: general.$controls-color;
  cursor: pointer;
}
