@use "src/general";

.stream-badge {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  background-color: general.$secondary;
  border-radius: 10rem;
  padding: 0.4rem;
}

.stream-badge-name {
  color: general.$text-color;
  white-space: nowrap;
  font-size: 1rem;
  font-weight: medium;
  @include general.header-font;
}

.stream-badge-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 20%;
  margin-right: 0.4rem;
}
