@use 'src/general';

.app {
  background-color: general.$bg;
  // height: 100vh;
  // width: 100vw;
  // overflow: hidden;
}

.disconnected-icon{
  color: general.$mute-color;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
}
