@use 'src/general';

.zone-text{
  color: general.$text-color;
  font-size: 1rem;
  font-weight: medium;
  text-align: center;
  white-space: nowrap;

  @include general.header-font;
  cursor: pointer;
}

.zone-chip{
  background-color: general.$secondary;
  border-radius: 10rem;
  padding: 0.3rem 0.5rem;
  margin: 0.25rem;
}
