@use "src/general";

.outer {
  // grid stuff
  display: grid;
  // grid-template-columns: min-content min-content;
  grid-template-columns: min-content stretch;
  // grid-gap: 10px;
  padding: 6px;
  // min-width: 50vw;
  // justify-items: stretch;
  // justify-content: stretch;
  // background-color: red;
}

.content {
  // background-color: #444;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  // min-width: fit-content;
  // min-width: max-content;
  // justify-self: stretch;
  // background-color: gray;
  // background-color: red;
}

.stream-name-container {
  // align-content: right;
  // text-align: right;
  display: flex;
  justify-content: flex-end;
}

.album-art {
  // width: 10vh;
  // width: 100%;
  // width: inherit;
  // display: flex;
  // justify-content: center;

  // background-color: red;
}

.vol {
  grid-row: 3;
  grid-column: 1/3;
  // padding: 20px 0px 0px 0px;
  margin-left: 10px;
  margin-right: 10px;
  // width: 100%;
}
