@use "src/general";

.outer {
  // grid stuff
  display: grid;
  grid-template-columns: min-content min-content;
  grid-gap: 10px;
  padding: 10px;
  min-width: fit-content;
}

.content {
  // background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  min-width: fit-content;
}

.stream-name-container {
  align-content: right;
}

.album-art {
  width: 10vh;
}

.vol {
  grid-row: 3;
  grid-column: 1/3;
}
