@use "src/general.scss";

.preset-name {
  @include general.header-font;
  color: general.$text-color;
  font-size: 2rem;
  margin: 0.5rem;
}

.preset-modal {
  padding: 0.5rem;
}

.create-preset-buttons{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
