@use "src/general";

.zone-volume-container {
  @include general.header-font;
  font-size: 1rem;
}

.grouped {
  // 47px is the width of the dropdown icon + padding, this causes the child volume sliders to end in the same spot as the parent
  padding-right: 47px;
}
