[Unit]
Description=AmpliPi first-boot default password generation
RequiresMountsFor=/data

[Service]
Type=oneshot
ExecStart=/usr/local/bin/amplipi-firstboot-password.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
