@use 'src/general';

.settings-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.settings-header {
  @include general.header-font;
  font-size: 4rem;
  color: general.$text-color;
}

.settings-list-item {
  @include general.header-font;
  font-size: 2rem;
  color: general.$text-color;
}

.settings-card {
  max-height: 75vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.settings-page-container {
  background-color: general.$bg;
  height: 100vh;
  width: 100vw;
}
