@use "src/general";

.card {
  @include general.low-shadow;
  background-color: general.$primary;
  border-radius: 18px;

  color: general.$text-color;

  // width: min-content;
  // height: min-content;
}

.card-selected {
  background-color: general.$selected;
}
