@use "src/general.scss";

.page-header {
  margin: 0.5rem;
  font-size: 3rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.page-header-title {
  font-size: 3rem;
  @include general.header-font;
  color: general.$text-color;
}

.page-header-close {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  padding-top: 1.4rem;
  font-size: 4rem;
  @include general.header-font;
  color: general.$text-color;
  cursor: pointer;
  font-size: 3rem;
}
