@use "src/general";

.home-outer {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  height: 100%;
  overflow-y: auto;
}

// .home-view {
//   display: grid;
//   grid-template-columns: min-content;
//   row-gap: 10px;
//   align-items: center;
//   justify-items: center;
//   width: fit-content;
// }

.home-view {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  // width: fit-content;
}

.home-presets-button {
  // @include general.low-shadow;
  @include general.regular-font;
  font-size: 2rem;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: general.$controls-color;
  border-color: general.$secondary;
  border-style: solid;
  border-radius: 1rem;
  background-color: general.$bg;

  @include general.button-hover;
}

.home-presets-container {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 95vw;
  max-width: 30rem;
}
