@use "src/general";

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 2px 3px #000000;
}

.artist-name {
  font-size: 1rem;
  @include general.header-font;
  color: general.$text-color;
}

.album-name {
  margin: 0.1rem;
  font-size: 0.75rem;
  @include general.header-font;
  color: general.$text-color;
}

.track-name {
  font-size: 1rem;
  @include general.header-font;
  color: general.$text-color;
}
