@use "src/general";

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 1px 2px 3px #000000;
  padding-left: 5px;
  padding-right: 5px;

  white-space: nowrap;
  overflow: hidden;

  // Used to ensure the smallest screens still have room for all metadata and controls on one screen without scrolling
  @media (max-width: general.$medium-mobile){
    max-height: 50vh;
    max-width: 50vh;
  }
}

.artist-name {
  @include general.header-font;
  color: general.$text-color;
  font-size: 1rem;
}

.album-name {
  margin: 0.1rem;
  @include general.header-font;
  color: general.$text-color;
  font-size: 0.75rem;
}

.track-name {
  @include general.header-font;
  color: general.$text-color;
  font-size: 1rem;
}
