<html>
  <body onload="onLoad()">
    <table>
      <td><button onclick="document.location='/source/{{ (src - 1) % 4 }}'">&lt</button></td>
      <td>
        <table id="source_groups">
          <!-- Source Input -->
          <tr>
            <td>{{ name }}</td>
            <td>
              <select id="s{{ src }}_input" onchange="onSrcInputChange(this);">
                <option value=" "> </option>
              </select>
            </td>
          </tr>
          <!-- Groups get added here TODO: make this a separate table -->
          <!-- Add additional groups -->
          <tr><td></td></tr>
          <tr><td>Add group</td>
            <td>
              <select id="s{{ src }}_add" onchange="onAddGroupToSrc(this);">
                <option value=" "> </option>
              </select>
            </td>
          </tr>
        </table>
      </td>
      <td><button onclick="document.location='/source/{{ (src + 1) % 4 }}'">&gt</button></td>
    </table>

    <!-- Debugging, TODO: remove in production -->
    <div>-----Debugging-----</div>
    <div>Intent:</div>
    <div id="intent">intent goes here</div>
    <div>Request:</div>
    <div id="request">request goes here</div>
    <div>Response:</div>
    <div id="response">response goes here</div>

<script>
  // TODO: make an updateSourceView(json) function that updates the page
  // TODO: hook into onload and make a get request then call updateSourceView(result) on success
  async function onLoad() {
    let state = await get();
  }
  function updateSourceView(state) {
    // TODO: update source name

    // Add all of the groups
    // TODO: only update connected groups
		var tbl = document.getElementById('source_groups');
		var last_row = tbl.rows.length - 2;
		var row = tbl.insertRow(last_row);

    for (const g of state.groups) {
      var name = row.insertCell(0);
      name.innerHTML = g.name;
      var c1 = row.insertCell(1);
      var vol_slider = document.createElement('input');
      vol_slider.type = 'range';
      vol_slider.id = 'g' + g.id + '_vol';
      vol_slider.min = -79;
      vol_slider.max = 0;
      vol_slider.value = g.vol_delta;
      vol_slider.onchange = function(){onGroupVolChange(g.id)};
      c1.appendChild(vol_slider);
      var c2 = row.insertCell(2);
      var vol_label = document.createElement('span');
      vol_label.id = 'g' + g.id + '_atten';
      vol_label.innerHTML = g.vol_delta;
      c2.appendChild(vol_label);
      db_label = document.createElement('text')
      db_label.value = ' dB'
      c2.appendChild(db_label)

      last_row++;
      row = tbl.insertRow(last_row);
    }
    // TODO: update groups to add selection
  }
  function onGroupVolChange(gid) {
    var atten_id = 'g' + gid + "_atten";
    var vol_id = 'g' + gid + "_vol";
    var vol_slider = document.getElementById(vol_id);
    var vol = vol_slider.value;
    document.getElementById(atten_id).innerHTML = vol;
    showIntent(gid + ' vol= ' + vol);
    req = {
      "command": "set_group",
      "id" : Number(gid),
      "vol_delta" : Number(vol),
      "mute" : false
    };
    sendRequest(req)
  }
  function onGroupMuteChange(obj) {
    var group = obj.id.substring(0,2);
    var mute = obj.checked;
    var gid = group.substring(1,2);
    showIntent(group + ' mute= ' + obj.checked);
    req = {
      "command": "set_group",
      "id" : Number(gid),
      "mute" : Boolean(obj.checked)
    };
    sendRequest(req);
  }
  //html_header = '<tr><td>{}</td>'.format(group['name'])
  //html = '<td><input id="g{}_vol" type="range" value="{}" onchange="onGroupVolChange(this);" min="-79" max="0"></td>'.format(group['id'], group['vol_delta'])
  //html += '<td><span id="g{}_atten">{}</span> dB</td>'.format(group['id'], group['vol_delta'])
  //html += '<td><input type="checkbox" id="g{}_mute" onchange="onGroupMuteChange(this);" {} ></td>'.format(group['id'], {False:'', True: 'checked'}[group['mute']])
  //html_footer = '</tr>'
  function onAddGroupToSrc(obj) {
    var src = obj.id.substring(1,2);
    var gid = obj.value
    showIntent('Adding g' + gid  + ' to src ' + src);
    req = {
      "command": "set_group",
      "id" : Number(gid),
      "source_id" : Number(src),
      "mute" : false
    };
    sendRequest(req);
  }
  function onSrcInputChange(obj) {
    var input = obj.value
    var src = obj.id.substring(1,2);
    showIntent('Changing source ' + src  + ' to use ' + input);
    req = {
      "command": "set_source",
      "id" : Number(src),
      "input" : input
    };
    sendRequest(req);
  }
  async function get() {
    let response = await fetch('/api');
    let result = await response.json();
    onResponse(result);
    return result;
  }
  async function sendRequest(obj) {
    onRequest(obj)
    let response = await fetch('/api', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(obj)
    });
    let result = await response.json();
    onResponse(result);
  }
  async function sendRequestAndReload(obj) {
    onRequest(obj)
    let response = await fetch('/api', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify(obj)
    });
    let result = await response.json();
    onResponse(result);
    window.location.reload(true);
  }
  function showIntent(intent) {
    document.getElementById("intent").innerHTML = intent;
  }
  function onRequest(req) {
    document.getElementById("request").innerHTML = JSON.stringify(req);
  }
  function onResponse(resp) {
    updateSourceView(resp);
    document.getElementById("response").innerHTML = JSON.stringify(resp);
  }
</script>
</body>
</html>
