@use "src/general.scss";

.list-item-container {
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid general.$secondary;
  @include general.button-hover;
}
.list-item-container:last-child {
  border-bottom: none;
}

.columns{
  display: grid;
  grid-template-columns: 0fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.list-item-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 0.25rem;
}

.list-item-name {
  @include general.header-font;
  align-items: left;
}

.list-item-footer {
  display: flex;
  flex-direction: row;
  align-items: center;;
  justify-content: flex-end;
}
