@use "src/general.scss";

.modal {
  @include general.header-font;
  font-size: 1.5rem;
  color: general.$text-color;
  cursor: default; //overrides the cursor pointer from a list-item
}

.modal-card {
  max-height: 75vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  width: 90vw;
}

.modal-header {
  margin: 0.5rem;
  margin-bottom: 0;
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

.modal-body {
  padding: 1rem;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 3.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.modal-footer-button {
  @include general.button-hover;
}


.pill-scrollbar {
  max-height: inherit;
  overflow-y: auto;
}

.pill-scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.pill-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.pill-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 999px;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.pill-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.pill-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
