@use "src/general.scss";

.modal {
  @include general.header-font;
  font-size: 1.5rem;
  color: general.$text-color;
  cursor: default; //overrides the cursor pointer from a list-item
}

.modal-card {
  max-height: 75vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  width: 90vw;
}

.modal-header {
  margin: 0.5rem;
  margin-bottom: 0;
  font-size: 2.5rem;
  text-align: center;
}

.modal-body {
  padding: 1rem;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.modal-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 3.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}

.modal-footer-button {
  @include general.button-hover;
}
