@use "src/general";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;

  @media (max-width: 1200px) { // 1200px is the breakpoint between the single and double column modes
    height: 20vh;
  }
  @media (min-width: 1200px) { // 1200px is the breakpoint between the single and double column modes
    height: 40vh;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45%;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zones {
  display: flex;
  flex-direction: row;
}
