@use "src/general";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;

  @media (min-width: 900px) { // 900px is the breakpoint between the single and double column modes
    height: 35vh;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: 900px) { // 900px is the breakpoint between the single and double column modes
    height: 45%;
  }
}

.top {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.zones {
  display: flex;
  flex-direction: row;
}
