@use "src/general.scss";

.config {
    @include general.header-font;
    font-size: 1.5rem;
    color: general.$text-color;
}

.config-header {
    margin: 0.5rem;
    font-size: 3rem;
    text-align: center;
}

.config-card {
    max-height: 75vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
