# Recurring os tasks handled by cron
# installed by amplipi
# m   h  dom mon dow   command
#                      Check for new release, add jitter to avoid overloading GitHub.
  0   5  *   *   *     sleep $(tr -cd 0-9 </dev/urandom | head -c 3)s; SCRIPTS_DIR/check-release
#                      Check for internet access.
  */5 *  *   *   *     SCRIPTS_DIR/check-online
