# Recurring os tasks handled by cron
# installed by amplipi

SHELL=/bin/bash

# m   h  dom mon dow   command
#                      avoid overloading GitHub
  0   5  *   *   *     sleep ${RANDOM:0:2}m; SCRIPTS_DIR/check-release
#                      avoid exact period
  */5 *  *   *   *     sleep 0.${RANDOM:0:2}s; SCRIPTS_DIR/check-online
