[Unit]
Description="Service for listening to UDisks2 and creating events when drives are mounted"
After=logitechmediaserver.service
Requires=logitechmediaserver.service

[Service]
Type=simple
ExecStart=/usr/local/bin/udisks2-listener.sh
Restart=always

[Install]
WantedBy=logitechmediaserver.service
