@use "src/general";

.add-button-component { // Labeled -component because otherwise this css gets overwritten by the classname used for the add button in the streams page
  // @include general.low-shadow;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: general.$controls-color;
  border-color: general.$secondary;
  border-style: solid;
  border-radius: 1rem;
  background-color: general.$bg;

  @include general.button-hover;
}
