@use 'src/general';

.home-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home-view {
    display: grid;
    grid-template-columns: min-content;
    row-gap: 10px;
    align-items: center;
    width: fit-content;
}