@use "src/general";

.media-outer {
  width: 100%;
  height: fit-content;
  // background-color: red;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90vw;
}

.media-inner {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-control {
  color: general.$controls-color;
  padding-left: 1.5rem;
  padding-right: 1.5rem;


  @media (max-width: 365px) {
    font-size: 1.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 365px) and (max-width: 425px) {
    font-size: 2.5rem;
  }

  @media (min-width: 425px) {
    font-size: 3.5rem;
  }
}

.media-control-disabled {
  color: #858585;
}

.media-control-enabled {
  color: general.$controls-color;
  @include general.button-hover;
}
