@use "src/general";

.stream-bar {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; // or center? maybe center text and keep icon to the right?

  @media (min-width: 375px) {
    max-width: 22rem; // The same width as the album art, until the album art starts to shrink at 375px wide
  }
  @media (max-width: 375px) {
    max-height: 7.5vh;
    max-width: 85vw;
  }
}

.stream-bar-name {
  padding-left: 5px;
  color: general.$text-color;
  width: 100%;
  max-width: 80%; // Leave space for icon
  font-weight: medium;
  white-space: nowrap;
  overflow: hidden;
  @include general.header-font;
  padding: 0.5rem;
  @media (max-height: 500px){
    font-size: 1.5rem;
  }
  @media (min-height: 500px){
    font-size: 2.5rem;
  }
}

.stream-bar-icon {
  @media (max-height: 500px){
    width: 2rem;
    height: 2rem;
  }
  @media (min-height: 500px){
    width: 4rem;
    height: 4rem;
  }
}
