@use "src/general";

.card {
  @include general.low-shadow;
  border-radius: 18px;

  color: general.$text-color;
}

.primary {
  background-color: general.$primary
}
.secondary {
  background-color: general.$secondary
}

.selected {
  @include general.selected-shadow;
}


.selectable:hover{
  border-radius: 18px;
  box-shadow: 0px 0px 15px 4px rgba(255, 255, 255, 0.5);
}
