@use "src/general";

.image {
  display: block;
  max-width: 8rem;
  max-height: 8rem;
  width: auto;
  height: auto;
  border-radius: 10%;
}

.image-container {
  display: flex;
  justify-content: center;
  // width: 8rem;
  // height: 8rem;
}
